<mat-card class="container">
    <mat-form-field>
        <mat-label>Filtrar Por Nombre</mat-label>
        <input matInput [(ngModel)]="filtroDoctor" (input)="applyFilter()" placeholder="Ex.Alejandro">
    </mat-form-field>

    <mat-table [dataSource]="doctores" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Ultima Modificacion </mat-header-cell>
            <mat-cell *matCellDef="let doctor"> {{doctor.updatedAt}} por {{doctor.updatedBy}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let doctor"> {{doctor.nombre}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="apellido">
            <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
            <mat-cell *matCellDef="let doctor"> {{doctor.apellido}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nacimiento">
            <mat-header-cell *matHeaderCellDef> Fecha de Nacimiento </mat-header-cell>
            <mat-cell *matCellDef="let doctor"> {{doctor.fecha_nacimiento}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="direccion">
            <mat-header-cell *matHeaderCellDef> Direccion </mat-header-cell>
            <mat-cell *matCellDef="let doctor"> {{doctor.direccion}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
            <mat-cell *matCellDef="let doctor">
                <button mat-button color="accent" (click)=EditarDoctor(doctor)>Editar</button>
                <button mat-button color="warn" (click)=BorrarDoctor(doctor) style="margin-left: 5px;">Borrar</button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-card-actions>

        <button mat-button color="primary" (click)=AddDoctor()>Añadir Doctor a Esta Especialidad</button>
        <button mat-button color="accent" (click)="Volver()">Ir a Detalle de Especialidades</button>
        <button mat-button color="warn" (click)="VolverPrincipal()">Ir a Vista Principal</button>
    </mat-card-actions>

</mat-card>