<mat-card class="container col-md-4">
    <mat-card-header class="add-dialog">
        <mat-card-title>Añadir Hospital Nuevo</mat-card-title>
    </mat-card-header>
    <mat-card-content class="add-dialog">
        <form class="formulario">
            <mat-form-field appaerance="legacy" class="formulario-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" [(ngModel)]=hospital.nombre name="nombre">
            </mat-form-field>
            <br/>
            <!-- <mat-form-field appaerance="legacy" class="formulario-full-width">
                <mat-label>Creado Por:</mat-label>
                <input matInput placeholder="Nombre del creador del registro" [(ngModel)]=hospital.created_by name="created_by">
            </mat-form-field> -->
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="warn" (click)="Guardar()">Guardar</button>
    </mat-card-actions>
</mat-card>