<div style="text-align: center">
  <h1>
    Digital Harbor Test
  </h1>
</div>

<div class="container">
  <button mat-raised-button color="primary" (click)="ListarPacientes()">Listar Pacientes</button>
  <button mat-raised-button color="primary" (click)="NuevoPaciente()" style="margin-left: 10px;">Nuevo Paciente</button>
  <button mat-raised-button color="primary" (click)="ListarDoctores()" style="margin-left: 10px;">Listar Doctores</button>
  <button mat-raised-button color="primary" (click)="NuevoDoctor()" style="margin-left: 10px;">Nuevo Doctor</button>
</div>



<router-outlet></router-outlet>