<div style="text-align: center">
    <h1>
        Digital Harbor Test
    </h1>
</div>

<div class="container">
    <button mat-raised-button color="primary" (click)="ListarPacientes()">Listar Pacientes</button>
    <button mat-raised-button color="primary" (click)="NuevoPaciente()" style="margin-left: 10px;">Nuevo Paciente</button>
    <button mat-raised-button color="primary" (click)="ListarEspecialidades()" style="margin-left: 10px;">Listar Especialidades</button>
    <button mat-raised-button color="primary" (click)="NuevaEspecialidad()" style="margin-left: 10px;">Nueva Especialidad</button>
</div>



<router-outlet></router-outlet>